@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');
*{
  font-family: Poppins;
}

body{
  margin: 0px;
}

.headerEllipse{
  position: absolute;
  width: 63px;
  height: 63px;
  left: 150px;
  top: 41px;
  border-radius: 50%;
  box-shadow: 0px 5px 8px gray;
  background:rgba(255, 100, 174, 1)
}

.headerEllipse1{
  position: absolute;
  width: 13px;
  height: 13px;
  left: 162px;
  top: 52px;
  border-radius: 70%;
  background: #FFFFFF;
}

.headerEllipse2{
  position: absolute;
  width: 6px;
  height: 6px;
  left: 175px;
  top: 64px;
  border-radius: 70%;
  background: #FFFFFF;
}

.headerEllipse3{
  position: absolute;
  width: 40px;
  height: 11px;
  left: 189px;
  top: 67px;
  border-radius: 50px;
  box-shadow: 10px 4px 13px 0px gray;
  background: #091156;
}

.menu h1{
  position: absolute;
  width: 161px;
  height: 34px;
  top: 39px;
  left: 247px;
  font-family: 'Poppins';
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.1em;
  text-align: left;
  color: rgba(9, 17, 86, 1);
  text-shadow: 1px 4px 4px gray;;
}

.Home a{
  position: absolute;
  width: 54px;
  height: 24px;
  left: 599px;
  top: 66px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: rgba(65, 72, 127, 1)
}

.Home b{
position: absolute;
width: 7px;
height: 7px;
left: 668px;
top: 66px;
border: 1px;
font-weight: lighter;
text-decoration: none;
color: rgba(65, 72, 127, 1)
}

.About a{
  position: absolute;
  width: 55px;
  height: 24px;
  top: 66px;
  left: 716px;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: left;
  text-decoration: none;
  color: rgba(139, 139, 139, 1);
}

.Service a {
  position: absolute;
  width: 69px;
  height: 24px;
  top: 66px;
  left: 816px;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: left;
  text-decoration: none;
  color: rgba(139, 139, 139, 1);
}

.Gallery a{
  position: absolute;
  width: 67px;
  height: 24px;
  top: 66px;
  left: 931px;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: left;
  text-decoration: none;
  color: rgba(139, 139, 139, 1);
}

.Blog a{
  position: absolute;
  width: 41px;
  height: 24px;
  top: 66px;
  left: 1045px;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: left;
  text-decoration: none;
  color: rgba(139, 139, 139, 1);
}

.But1{
  position: absolute;
  width: 175px;
  height: 58px;
  top: 52px;
  left: 1144px;
  border-radius: 50px;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: lighter;
  color: #FFFFFF;
  line-height: 24px;
  letter-spacing: 0.1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  background: rgba(255, 100, 174, 1);
  border: 1px solid rgba(255, 100, 174, 1);
}

.img1{
  position: absolute;
  width: 601.5px;
  height: 397.5px;
  top: 263px;
  left: 715px;
}

.slogan h1{
  position: absolute;
  width: 474px;
  height: 54px;
  top: 297px;
  left: 189px;
  font-family: 'Poppins';
  font-size: 45px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(9, 17, 86, 1);
}

.slogan p{
  position: absolute;
  width: 474px;
  height: 54px;
  top: 436px;
  left: 190px;
  font-family: 'Poppins';
  font-size: 15px;
  font-weight: 600;
  font-style: light;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-align: left;
  color: rgba(9, 17, 86, 1);
}

.but2{
  position: absolute;
  width: 175px;
  height: 58px;
  top: 540px;
  left: 190px;
  border-radius: 50px;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: lighter;
  color: #FFFFFF; 
  line-height: 24px;
  letter-spacing: 0.1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  border: 1px solid rgba(255, 100, 174, 1);
  background: rgba(255, 100, 174, 1);
  box-shadow: 0px 17px 22px 0px rgba(255, 237, 246, 1);
}