@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.header_Background{
    background-image: url(./img/Background1.png);
    background-size: 86%;
    background-repeat: no-repeat;
}
.second_Background{
    background: url(./img/Background3.png);
    background-repeat: no-repeat; 
    background-origin: padding-box;
    background-position: 100% 82%;
}
.third_Background{
    background: url(./img/Background5.png);
    background-repeat: no-repeat; 
    background-origin: padding-box;
    background-position: 0% 84%;
}
.footer_Background2{
    background-image: url(./img/Background6.png), url(./img/FooterEnd.png);  
    background-position: top, bottom;  
    background-repeat: no-repeat, no-repeat;
}

.nav-bar-item{
    list-style-type: none;
    width: 54px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: rgba(139, 139, 139, 1);
}
.container{
        max-width: 1440px;  
        margin:0 auto;
}
/* HEADER  */
.header{
    padding: 50px;
    display: flex;
    justify-content: space-around;
}
.logo{
    padding-bottom: 20px;
}
.nav-bar-item{
    display: flex;
    list-style-type: none;
    gap: 40px;
    justify-content: center;
    padding: 20px;
}
.btnContact{
    padding: 20px;
    width: 175px;
    height: 60px;
    border-radius: 50px;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: lighter;
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
    letter-spacing: 0.1em;
    background: rgba(255, 100, 174, 1);
    border: 1px solid rgba(255, 100, 174, 1);
}

/* MAIN  */
/* SECTION Clinic  */
.clinic{
    padding: 70px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.slogan_Clinic{
    padding-left: 20px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: center;
}
.clinic h1{
    padding-bottom: 10px;
    font-family: 'Poppins';
    font-size: 45px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(9, 17, 86, 1);
}
.clinic p{
    padding-bottom: 30px;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 600;
    font-style: light;
    line-height: 25px;
    letter-spacing: 0.1em;
    color: rgba(9, 17, 86, 1);
}
.btnMoreDetails{
    width: 175px;
    height: 58px;
    border-radius: 50px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: lighter;
    color: #FFFFFF;
    line-height: 24px;
    letter-spacing: 0.1em;
    border: 1px solid rgba(255, 100, 174, 1);
    background: rgba(255, 100, 174, 1);
    box-shadow: 0px 17px 22px 0px rgba(255, 237, 246, 1);
}
.textCutting_Pages1{
    padding-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.textCutting_Pagesed h2{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #FF64AE;
}
.textCutting_Pagesed h1{
    padding: 20px;
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color: #091156;
}
.textCutting_Pagesed p {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #8B8B8B;
}
.beautyX2_Skin{
    padding-top: 90px;
    padding: 70px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.beauty_consultation{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
.beauty_consultation{
    width: 343px;
    height: 458px;
    border-radius: 42px;
    color: #FFFFFF;
    background: #ffffff;
    box-shadow: 0px 25px 50px 25px #F6F7FF; 
}
.skin_treatments{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
.skin_treatments{
    width: 343px;
    height: 458px;
    border-radius: 42px;
    background: #ffffff;
    color: #FFFFFF;
    box-shadow: 0px 25px 50px 25px #F6F7FF; 
}
.beauty_product{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
.beauty_product{
    width: 343px;
    height: 458px;
    border-radius: 42px;
    color: #ffffff;
    background: #ffffff;
    box-shadow: 0px 25px 50px 25px #F6F7FF;  
}
.beauty_consultation h1, .skin_treatments h1, .beauty_product h1{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    color: #091156;
    text-align: center;
}
.beauty_consultation p, .skin_treatments p, .beauty_product p{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.1em;
    color: #8B8B8B;
    text-align: center;
}
.weRtheBest{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}
.text_WeRtheBest{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: flex-start;
}
.text_WeRtheBest h2{
    padding-top: 50px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF64AE;
}
.text_WeRtheBest h1{
    padding-top: 10px;
    padding-bottom: 15px;
    font-family:'Poppins';
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: #091156;
}
.text_WeRtheBest p{
    padding-bottom: 20px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #8B8B8B;
}
.learnMore_WatchVideo{
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
.learnMore_WatchVideo p{
    padding-left: 10px;
    padding-top: 20x;
    padding-bottom: 2px;
}
.learnMore_WatchVideo img{
    padding-left: 50px;
}
.btnLearnMore{
    width: 175px;
    height: 58px;
    border-radius: 50px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: lighter;
    color: #FFFFFF;
    line-height: 24px;
    letter-spacing: 0.1em;
    border: 1px solid rgba(255, 100, 174, 1);
    background: rgba(255, 100, 174, 1);
    box-shadow: 0px 17px 22px 0px rgba(255, 237, 246, 1);
}
.img_WeRthebest{
    padding-top:50px;
}
.textCutting_Pages2{
    padding-top: 50px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.theProExer{
    padding: 70px;
    padding-top: 70px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.briyan_Nevalli{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.briyan_Nevalli{
    width: 424px;
    height: 626px;
    border-radius: 42px;
    color: #FFFFFF;
    background: #ffffff;
    box-shadow: 0px 25px 50px 25px #F6F7FF; 
}
.briyan_Nevalli img{
    padding-top: 100px;
    padding-bottom: 60px;
}
.bella_Sebastian{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.bella_Sebastian{
    width: 424px;
    height: 626px;
    border-radius: 42px;
    color: #FFFFFF;
    background: #ffffff;
    box-shadow: 0px 25px 50px 25px #F6F7FF; 
}
.bella_Sebastian img{
    padding-top: 100px;
    padding-bottom: 60px;
}
.lilly_Adams{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.lilly_Adams{
    width: 424px;
    height: 626px;
    border-radius: 42px;
    color: #FFFFFF;
    background: #ffffff;
    box-shadow: 0px 25px 50px 25px #F6F7FF; 
}
.lilly_Adams img{
    padding-top: 100px;
    padding-bottom: 60px;
}
.briyan_Nevalli h2, .bella_Sebastian h2, .lilly_Adams h2 {
    padding-bottom: 20px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    color: #FF64AE;
}
.briyan_Nevalli h1, .bella_Sebastian h1, .lilly_Adams h1{
    padding-bottom: 30px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    color: #091156;
    text-align: center;
}
.briyan_Nevalli p, .bella_Sebastian p, .lilly_Adams p{
    padding-bottom: 40px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.1em;
    color: #8B8B8B;
    text-align: center;
}
.SocialMediabc{
    display: inline-flex;
    justify-content: center;
    align-content: center;
}
.SocialMedia a {
    padding-top: 9px;
    padding-left: 7px;
    width: 49px;
    height: 49px;
    background: transparent;
    border: 2px solid #FFFFFF;
    color: #091156;
    border-radius: 50%;
    font-size: 30px;
    text-decoration: none;
    box-shadow: -2px 6px 16px -1px #E6E9FD;
}
.SocialMedia{
    display: inline-flex;
    justify-content: center;
    align-content: center;
}
.SocialMedib a {
    padding-top: 9px;
    padding-left: 7px;
    width: 49px;
    height: 49px;
    background: transparent;
    border: 2px solid #FFFFFF;
    color: #091156;
    border-radius: 50%;
    font-size: 30px;
    text-decoration: none;
    box-shadow: -2px 6px 16px -1px #E6E9FD;
}
.SocialMedib{
    padding-left: 30px;
    padding-right: 30px;
    display: inline-flex;
    justify-content: center;
    align-content: center;
}
.SocialMedic a {
    padding-top: 9px;
    padding-left: 7px;
    width: 49px;
    height: 49px;
    background: transparent;
    border: 2px solid #FFFFFF;
    color: #091156;
    border-radius: 50%;
    font-size: 30px;
    text-decoration: none;
    box-shadow: -2px 6px 16px -1px #E6E9FD;
}
.SocialMedic{
    display: inline-flex;
    justify-content: center;
    align-content: center;
}
.contactUs{
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
}
.contactUs img{
    padding-top: 100px;
}
.intro_ContactUs{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.intro_ContactUs h2{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF64AE;
}
.intro_ContactUs h1{
    padding-top: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 125%;
    text-align: left;
    color: #091156;
}
.intro_ContactUs p{
    padding-top: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #8B8B8B;
}
.form_ContactUs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.form_ContactUs input{
    padding-left: 20px;
}
.form_Name{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
}
.form_L4stName{
    padding-left: 35px;
}
.form_Subj3ct{
    padding-top: 40px;
    padding-bottom: 40px;
}
.form_1nquiry{
    padding-bottom: 50px;
}
.form_FirstName, .form_LastName{
    box-sizing: border-box;
    font-family: 'Poppins';
    width: 242.21px;
    height: 61.58px;
    background: #FFFFFF;
    border: 1px solid #D9DDFE;
    border-radius: 15px;
}
.form_ContactUs ::placeholder{
    font-size: 16px;
    color: #C5C5C5;

}
.form_Email, .form_Subject{
    width: 520px;
    height: 61.58px;
    font-family: 'Poppins';
    background: #FFFFFF;
    border: 1px solid #D9DDFE;
    border-radius: 15px;
}
.form_Inquiry{
    padding-bottom: 170px;
    box-sizing: border-box;
    font-family: 'Poppins';
    width: 520px;
    height: 239.47px;
    background: #FFFFFF;
    border: 1px solid #D9DDFE;
    border-radius: 15px;
}
.btnSendMessage{
    width: 248px;
    height: 58px;
    border-radius: 50px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: lighter;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    border: 1px solid rgba(255, 100, 174, 1);
    background: #FF64AE;
    box-shadow: 0px 17px 22px #FFEDF6;
}
.footer_Right{
    padding: 70px;
    padding-top: 230px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    align-content: center;
    
}
.footer_Right h1{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #FFFFFF;
    height: 60px;
}
.footer_dandi{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: center;
}
.footer_pages{
    padding-right: 170px;
}
.footer_informations{
    padding-left: 0px;
}
.footer_minilogo{
    padding-top: 20px;
}
.footer_logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 500px;
}
.footer_inforLogo{
    padding-left: 40px;
}
.footer_Contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.footer_Beautice p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24%;
    text-align: left;
    color: #D7DBFF;
    letter-spacing: 0.1em;
}
.footer_Address p{
    padding-bottom: 5px;
    color: #D7DBFF;
    font-family: 'Poppins';
    font-weight: lighter;
    font-style: italic;
}
.footer_Contact p{
    font-style: italic;
    color: #D7DBFF;
    font-family: 'Poppins';
}
.footer_Mail p{
    padding-left: 30px;
    text-decoration: underline;
    font-style: italic;
    color: #D7DBFF;
    font-family: 'Poppins';
}
.footer_SocialMedia{
    padding-left: 95px;
    display: inline-flex;
    justify-content: center;
    align-content: center;
}
.footer_SocialMedia a{
    padding-left: 65px;
    width: 49px;
    height: 49px;
    background: transparent;
    color: #FFFFFF;
    font-size: 30px;
    text-decoration: none;
}
.footer_nav-bar-item-pages {
    padding-left: 10px;
    list-style-type: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.1em;
    text-decoration: none;
    color:  #D7DBFF;
}
.footer_nav-bar-item-infors li{
    list-style-type: none;
    font-family: 'Poppins';
    text-align: left;
    font-size: 16px;
    font-weight: lighter;
    line-height: 30px;
    letter-spacing: 0.1em;
    text-decoration: none;
    color:  #D7DBFF;
}
.footer_nav-bar-item-infors i{
    font-size: 7px;
    padding-right: 10px;
    font-weight: lighter;
}
.footer_nav-bar-item-pages i{
    font-size: 7px;
    padding-right: 10px;
    font-weight: lighter;
}
.end p{
    padding-right: 45px;
    font-size: 17px;
    font-family: 'Poppins';
    color:  #D7DBFF;
}
.ending{
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    align-items: center;
}
.footer_Background2 img{
    padding-right: 60px;
    float: right;
}
