@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
}
/* BACKGROUND */
.header-bg{
    background-image: url(./img/Background1.png);
    background-size: 86%;
    background-repeat: no-repeat;
}
.beauty-consultation-bg{
    background: url(./img/Background3.png);
    background-repeat: no-repeat; 
    background-origin: padding-box;
    background-position: 100% 82%;
}
.contact-us-bg{
    background: url(./img/Background5.png);
    background-repeat: no-repeat; 
    background-origin: padding-box;
    background-position: 0% 84%;
}
.footer-bg{
    background-image: url(./img/Background6.png), url(./img/FooterEnd.png);  
    background-position: bottom, bottom;  
    background-repeat: no-repeat, no-repeat;
    background-size: 100%, 100%;
}
/* HEADER  */
.header{
    padding: 50px;
    display: flex;
    justify-content: space-between;
}
.header-logo{
    padding-bottom: 20px;
}
.header-nav-bar-item{
    display: flex;
    list-style-type: none;
    gap: 40px;
    justify-content: center;
    padding: 20px;
}
.header-nav-bar-item{
    list-style-type: none;
    width: 54px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: rgba(139, 139, 139, 1);
}
.btn-contact{
    padding: 20px;
    width: 175px;
    height: 60px;
    border-radius: 50px;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: lighter;
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
    letter-spacing: 0.1em;
    background: rgba(255, 100, 174, 1);
    border: 1px solid rgba(255, 100, 174, 1);
}
/* SECTION CLINIC */
.header-clinic{
    padding: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.header-slogan-clinic{
    padding-left: 20px;
    padding-bottom: 90px;
    display: flex;
    font-family: 'Poppins';
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: center;
    color: #091156;
}
.clinic h1{
    padding-bottom: 10px;
    font-family: 'Poppins';
    font-size: 45px;
    font-weight: bold;
    line-height: 54px;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(9, 17, 86, 1);
}
.clinic p{
    padding-bottom: 30px;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 600;
    font-style: light;
    line-height: 25px;
    letter-spacing: 0.1em;
    color: rgba(9, 17, 86, 1);
}
.btn-more-details{
    width: 175px;
    height: 58px;
    border-radius: 50px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: lighter;
    color: #FFFFFF;
    line-height: 24px;
    letter-spacing: 0.1em;
    border: 1px solid rgba(255, 100, 174, 1);
    background: rgba(255, 100, 174, 1);
    box-shadow: 0px 17px 22px 0px rgba(255, 237, 246, 1);
}
/* CONTAINER */
/* .container{
        max-width: 1440px;  
        margin:0 auto;
} */
/* SECTION Clinic  */

.text-mainservices{
    padding-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.text-mainservices h2{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #FF64AE;
}
.text-mainservices h1{
    padding: 20px;
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color: #091156;
}
.text-mainservices p{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #8B8B8B;
}
.beauty-consultation-skin-treatments-beauty-product{
    padding-top: 90px;
    padding: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.beauty-consultation{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
.beauty-consultation{
    width: 343px;
    height: 458px;
    border-radius: 42px;
    color: #FFFFFF;
    background: #ffffff;
    box-shadow: 0px 25px 50px 25px #F6F7FF; 
}
.skin-treatments{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
.skin-treatments{
    width: 343px;
    height: 458px;
    border-radius: 42px;
    background: #ffffff;
    color: #FFFFFF;
    box-shadow: 0px 25px 50px 25px #F6F7FF; 
}
.beauty-product{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
.beauty-product{
    width: 343px;
    height: 458px;
    border-radius: 42px;
    color: #ffffff;
    background: #ffffff;
    box-shadow: 0px 25px 50px 25px #F6F7FF;  
}
.beauty-consultation h1, .skin-treatments h1, .beauty-product h1{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    color: #091156;
    text-align: center;
}
.beauty-consultation p, .skin-treatments p, .beauty-product p{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.1em;
    color: #8B8B8B;
    text-align: center;
}
.we-are-the-best{
    padding: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}
.we-are-the-best-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: flex-start;
}
.we-are-the-best-content h2{
    padding-top: 50px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF64AE;
}
.we-are-the-best-content h1{
    width: 600px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-family:'Poppins';
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: #091156;
}
.we-are-the-best-content p{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #8B8B8B;
}
.btn-learn-more-btn-watch-video{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
.btn-learn-more-btn-watch-video p{
    padding-left: 15px;
    padding-top: 20x;
    margin: 20px;
}
.btn-learn-more-btn-watch-video img{
    padding-left: 50px;
}
.btn-learn-more{
    width: 175px;
    height: 58px;
    border-radius: 50px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: lighter;
    color: #FFFFFF;
    line-height: 24px;
    letter-spacing: 0.1em;
    border: 1px solid rgba(255, 100, 174, 1);
    background: rgba(255, 100, 174, 1);
    box-shadow: 0px 17px 22px 0px rgba(255, 237, 246, 1);
}
.we-are-the-best-picture{
    padding-top:50px;
}
.text-professional-team{
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.text-professional-team h2{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #FF64AE;
}
.text-professional-team h1{
    padding: 20px;
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color: #091156;
}
.text-professional-team p{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #8B8B8B;
}
.the-professional-content{
    padding: 70px;
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.briyan-nevalli{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.briyan-nevalli{
    width: 424px;
    height: 626px;
    border-radius: 42px;
    color: #FFFFFF;
    background: #ffffff;
    box-shadow: 0px 25px 50px 25px #F6F7FF; 
}
.briyan-nevalli img{
    padding-top: 100px;
    padding-bottom: 60px;
}
.bella-sebastian{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.bella-sebastian{
    width: 424px;
    height: 626px;
    border-radius: 42px;
    color: #FFFFFF;
    background: #ffffff;
    box-shadow: 0px 25px 50px 25px #F6F7FF; 
}
.bella-sebastian img{
    padding-top: 100px;
    padding-bottom: 60px;
}
.lilly-adams{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.lilly-adams{
    width: 424px;
    height: 626px;
    border-radius: 42px;
    color: #FFFFFF;
    background: #ffffff;
    box-shadow: 0px 25px 50px 25px #F6F7FF; 
}
.lilly-adams img{
    padding-top: 100px;
    padding-bottom: 60px;
}
.briyan-nevalli h2, .bella-sebastian h2, .lilly-adams h2 {
    padding-bottom: 20px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    color: #FF64AE;
}
.briyan-nevalli h1, .bella-sebastian h1, .lilly-adams h1{
    padding-bottom: 30px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    color: #091156;
    text-align: center;
}
.briyan-nevalli p, .bella-sebastian p, .lilly-adams p{
    padding-bottom: 40px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.1em;
    color: #8B8B8B;
    text-align: center;
}
.social-media-content{
    display: inline-flex;
    justify-content: center;
    align-content: center;
}
.bxl-twitch{
    display: inline-flex;
    justify-content: center;
    align-content: center;
}
.bxl-facebook{
    display: inline-flex;
    justify-content: center;
    align-content: center;
}
.bxl-instagram{
    display: inline-flex;
    justify-content: center;
    align-content: center;
}
.bxl-twitch a{
    padding-left: 4px;
    width: 49px;
    height: 49px;
    background: transparent;
    border: 2px solid #FFFFFF;
    color: #091156;
    border-radius: 50%;
    font-size: 40px;
    text-decoration: none;
    box-shadow: -2px 6px 16px -1px #E6E9FD;
}
.bxl-facebook a{
    padding-left: 2px;
    width: 49px;
    height: 49px;
    background: transparent;
    border: 2px solid #FFFFFF;
    color: #091156;
    border-radius: 50%;
    font-size: 40px;
    text-decoration: none;
    box-shadow: -2px 6px 16px -1px #E6E9FD;
}
.bxl-instagram a{
    padding-left: 2px;
    height: 49px;
    background: transparent;
    border: 2px solid #FFFFFF;
    color: #091156;
    border-radius: 50%;
    font-size: 40px;
    text-decoration: none;
    box-shadow: -2px 6px 16px -1px #E6E9FD;
}
.contact-us{
    padding: 70px;
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
}
.contact-us img{
    padding-top: 100px;
}
.introduce-form-contact-us{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.introduce-form-contact-us h2{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF64AE;
}
.introduce-form-contact-us h1{
    padding-top: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 125%;
    text-align: left;
    color: #091156;
}
.introduce-form-contact-us p{
    padding-top: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #8B8B8B;
}
.content-form-contact-us{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.content-form-contact-us input{
    padding-left: 20px;
}
.form-name{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
}
.form-last-name{
    padding-left: 35px;
}
.form-subject-message{
    padding-top: 40px;
    padding-bottom: 40px;
}
.form-your-inquiry{
    padding-bottom: 50px;
}
.textbox-form-first-name, .textbox-form-last-name{
    box-sizing: border-box;
    font-family: 'Poppins';
    width: 242.21px;
    height: 61.58px;
    background: #FFFFFF;
    border: 1px solid #D9DDFE;
    border-radius: 15px;
}
.content-form-contact-us ::placeholder{
    font-size: 16px;
    color: #C5C5C5;

}
.textbox-form-email-address, .textbox-form-subject-message{
    width: 520px;
    height: 61.58px;
    font-family: 'Poppins';
    background: #FFFFFF;
    border: 1px solid #D9DDFE;
    border-radius: 15px;
}
.texrbox-form-your-inquiry{
    padding-bottom: 170px;
    box-sizing: border-box;
    font-family: 'Poppins';
    width: 520px;
    height: 239.47px;
    background: #FFFFFF;
    border: 1px solid #D9DDFE;
    border-radius: 15px;
}
.btn-send-message{
    width: 248px;
    height: 58px;
    border-radius: 50px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: lighter;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    border: 1px solid rgba(255, 100, 174, 1);
    background: #FF64AE;
    box-shadow: 0px 17px 22px #FFEDF6;
}
.footer-logo-content{
    padding: 70px;
    padding-top: 200px;
    padding-bottom: 65px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    align-content: center; 
}
.footer-logo-content h1{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #FFFFFF;
    height: 60px;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 500px;
}
.footer_mini-logo{
    padding-top: 20px;
}
.footer-logo-items{
    padding-left: 40px;
}
.footer-beautice p{
    padding-top: 40px;
    padding-bottom: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24%;
    text-align: left;
    color: #D7DBFF;
    letter-spacing: 0.1em;
}
.footer-address p{
    padding-bottom: 5px;
    color: #D7DBFF;
    font-family: 'Poppins';
    font-weight: lighter;
    font-style: italic;
}
.footer-contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.footer-contact p{
    font-style: italic;
    color: #D7DBFF;
    font-family: 'Poppins';
}
.footer-mail p{
    padding-left: 30px;
    text-decoration: underline;
    font-style: italic;
    color: #D7DBFF;
    font-family: 'Poppins';
}
.footer-items-pages-and-information{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: center;
}
.footer-pages{
    padding-right: 170px;
}
.footer-informations{
    padding-left: 0px;
}
.footer-nav-bar-item-infors i{
    font-size: 7px;
    padding-right: 10px;
    font-weight: lighter;
}
.footer-nav-bar-item-pages li{
    padding-left: 10px;
    list-style-type: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.1em;
    text-decoration: none;
    color:  #D7DBFF;
}
.foote-nav-bar-item-pages i{
    font-size: 7px;
    padding-right: 10px;
    font-weight: lighter;
}
.footer-nav-bar-item-infors li{
    list-style-type: none;
    font-family: 'Poppins';
    text-align: left;
    font-size: 16px;
    font-weight: lighter;
    line-height: 30px;
    letter-spacing: 0.1em;
    text-decoration: none;
    color:  #D7DBFF;
}
.footer-social-media{
    padding-left: 55px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    display: flex;
}
.social-media-ending{
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    align-items: center;
}
.social-media-ending a{
    padding-left: 65px;
    width: 49px;
    height: 49px;
    background: transparent;
    color: #FFFFFF;
    font-size: 30px;
    text-decoration: none;
}
.end p{
    padding-right: 45px;
    font-size: 17px;
    font-family: 'Poppins';
    color:  #D7DBFF;
}
.footer-bg img{
    padding-right: 60px;
    float: right;
}


